* {
    padding: 0;
    margin: 0;
    border: 0;
}

.js-clock {
    margin: 0 auto;
    position: absolute;
    background: url(../image/bike-riding-5557589_1920.png) 50% 0% no-repeat;
    background-size: 200px 200px;
    width: 300px;
    height: 300px;
    left: 30%;
    top: 30%;
}

.js-clock h1 {
    font-size: 1em;
    margin-top: 200px;
    margin-left: 38px;
}

.js-form, .js-greetings {
    position: absolute;
    font-size: 2em;
    left: 36%;
    top: 70%;
}

.blind {
    display: none;
}

.showing {
    display: block;
}
